:root {
    --light-gray: #606B74;
    --gray-main: #222F33;
}

body {
    font-family: 'Merriweather', 'Rubik';
}

a {
    text-decoration: none;
    color: unset;
}

li {
    display: block;
}

p {
    margin: 0;
}

button {
    border: 0;
    padding: 0;
    cursor: pointer;
}

/* Global classes*/

.default-button {
    background: #FFFFFF;
    border-radius: 0.5rem;
    color: var(--light-gray);
    width: 6.5rem;
    height: 2.2rem;
}

@media screen and (max-width: 385px) {
    body {
        text-align: center;
    }
}

@media screen and (min-width: 2560px) {
    :root {
        font-size: 27px;
    }
}

@media screen and (max-width: 1024px) {
    :root {
        font-size: 12px;
    }
}

@media screen and (max-width: 545px) {
    :root {
        font-size: 10px;
    }
}

@media screen and (max-width: 425px) {
    :root {
        font-size: 9px;
    }
}