.hero {
    background-image: url("../images/Bitmap\ first.png");
    height: 100vh;
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-container {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    background: none;
    margin: 0 auto;
    max-width: 80%;
    height: 100%;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    display: none;
    width: 2rem;
    cursor: pointer;
}

.header-menu img {
    max-width: 100%;
}

.header-logo img {
    height: 2rem;
    width: auto;
}

.header-right-container {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.header-nav ul {
    display: flex;
    gap: 2.25rem;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
}

#button-header {
    font-size: 1rem;
    font-weight: 600;
}

.hero-lower-container {
    display: grid;
    grid-template-columns: 42fr 58fr;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}

.hero-title {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: #FFFFFF;
    opacity: 0.8;
}

.hero-paragraph {
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 2.375rem;
    color: #FFFFFF;  
}

.hero-lower-right-content {
    height: 10.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    animation: left-appereance 2s ease-out;
}

.img-button {
    background: none;
    background-image: url("../images/BTN\ Play.png");
    width: 3rem;
    height: 3rem;
    background-size: contain;
}

.hero-right-paragraph {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    #button-header {
        display: none;
    }

    .header-menu {
        display: block;
    }

    .header-right-container {
        gap: 0rem;
    }

    .header-nav {
        background: #222F33;
        position: fixed;
        top: 4.5rem;
        left: 0;
        right: 0;
        bottom: 0;
        clip-path: circle(0px at top right);
        transition: clip-path 0.7s ease-in;
        z-index: 1;
        height: max-content;
    }

    .header-nav.open {
        clip-path: circle(1000px at top);
    }

    .header-nav ul {
        display: flex;
        flex-direction: column;
        color: #FFFFFF;
        align-items: center;
        padding-left: 0;
    }

    .header-nav .header-nav-item {
        margin-right: 0;
        padding-top: 0.75vh;
    }

    .header-nav a {
        font-weight: 500;
        display: block;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 545px) {
    .hero-lower-right-content {
        flex-direction: column;
        gap: 0.75rem;
    }

    .img-button {
        background-repeat: no-repeat;
        line-height: normal;
    }
}

@media screen and (max-width: 385px) {
    .hero-lower-container {
        display: flex;
        flex-direction: column;
        padding-bottom: 0rem;
        justify-content: center;
        gap: 3rem;
    }

    .hero-paragraph {
        width: 30rem;
    }
}